* {
  margin: 0;
  padding: 0; 
  background-color: #f4e1d2;
}
body{
  margin: 0;
  padding: 0; 
  background-color: #f4e1d2;
}
.grid-container {
  background-color: #f4e1d2;
  max-width: 100%;
  border:1px solid #f4e1d2;
}

#program {
  min-height: 400px;
}

hr {
  max-width: 100%;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
  max-width: 400px;
  margin: auto;
}
